<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vendedo login</title>
</head>
<body>



    


  
    <header>


        <nav>

             
                <li><a href="">pagina inicial</a></li>
                <li class="btnlogin"><a href="">login</a></li>
        </nav>
        
       
    
        <p>&copy;2024</p>

    </header>
    
    <form  id="tipocadastro" ></form>
    <h1>cadastrar</h1>
    <label for="selecionatipocadastro">VOCÊ QUER VENDE OU COMPRAR</label>
    <select name=" selecionatipocadastro" id="selecionatipocadastro">
        <option value="clinte">clinte</option>
        <option value="vededo">vendedo</option>
    </select>
    <button type="submit"> comtinuar </button>

    <h1  id="titulovendedo" >cri sua comta para exporseus produtor</h1>

<form action="#" id="tipovendedocadas" method="post">
    <h1>cadastro vendedo</h1>
    <p id="mesgerro !">as senhas nao e iguais</p>
    <label for="emailvendedor">email</label>
    <input type="email" name="emailvendedor" id="emailvendedor">
    <label for="nomevendedo">nome</label>
    <input type="text" name="nomevendedo" id="nomevendedo">
    <label for="pixvendedo"> chave pix</label>
    <input type="text" name="pixvendedo" id="pixvendedo"><br>
    <label for="senhavendedo">senha</label>
    
    <input type="password" name="senhavendedo" id="senhavendedo">
    <label for="repetisenhadovendedo">repeti senha</label>
    <input type="password" name="repetisenhadovendedo" id="repetisenhadovendedo">
    <input type="submit" value="enviar">


<br>
</form>

<form action="#" id="clintercadastro" method="post">
    <h1>cadastro clinter</h1>
    <p id="mesgerro !">as senhas nao e iguais</p>
    <label for="emailclinter">email</label>
    <input type="email" name="emailvendedor" id="emailclinter">
    <label for="nomeclinter">nome</label>
    <input type="text" name="nomeclinter" id="nomeclinter">
    <label for="senhavendedo">senha</label>
    <input type="password" name="senhaclinter" id="senhaclinter"> <br>
    <label for="repeticlinte">repeti senha</label> 
    <input type="password" name="repetisenhaclinter" id="repetisenhaclinter"> 
    <input type="submit" value="enviar">


<br>
</form>

<script src="/static/javaescript/cadastro.js"></script>
</body>   
</html>