<!DOCTYPE html>
<html lang="pt br">
<head>
    <link rel="stylesheet" href='/static/css/home.css'>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    <title>mercado   vs  </title> 
     


    


    <link rel="stylesheet" href='/static/css/home.css'>

</head>
<body>
  
    <header>


        <nav>

             <ul>
                <li><a href="">pagina inicial</a></li>
                <li><a href="">perfio do vendedor</a></li>
                <li class="btnlogin"><a href="">minha pagina</a></li>
                
                <li class="btncadastrar"><a href="">cadastrar</a></li>
                <li class="carrinho"><a href=""><img src="https://www.google.com/imgres?q=carrinho%20de%20compras%20png&imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F6493%2F6493694.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Fbr%2Ficone-gratis%2Fcarrinho-de-compras_6493694&docid=6yNpUAkybnnkOM&tbnid=fNAypRchh6nf_M&vet=12ahUKEwiEn46zm8qGAxXHqJUCHYAWKD0QM3oECCQQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwiEn46zm8qGAxXHqJUCHYAWKD0QM3oECCQQAA" alt="oi"><samp class="TEX"></samp> carrinho</samp></a></li>
             </ul>
        </nav>
    </header>
    
    <section id="busca">
        <h2> pesquisa produto</h2>
        <form>

            <input type="text" id="cambo- busca" placeholder="pesquisa por nome, categoria ou palavra chaver">
            <button type="submit">busca</button>
        </form>
    



    </section>
    <section id="destaque" class="destaque">
        <h2>produtos em destaque</h2>
        <div class="produtos">

          <!--prodututos em des taque para nao esquecer-->


        </div>
    </section>

    <section>
    <section id="produto" class="produto">
        <h2>todos os produtos</h2>
        <div class="produtos">
          <!--prodututos em des taque para nao esquecer-->
          

        </div>

    </section>
    <footer>
        <p>&copy;2024</p>

    </footer>

</body>
</html>