<!DOCTYPE html>
<html lang="pt- br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login clinte</title>
</head>
<body>
    

    <header>


        <nav>

             <ul>
                <li><a href="">pagina inicial</a></li>
                <astrar"><a href="">cadastrar</a></li>
                
        </nav>
        
       <h1 class="titulo"></h1> ola querido clinte</h1>
        
       <form action="#" method="post">
        
           <H1>login clinte</h1> 

            <label for="emailvendedor">email</label>
            <input type="email" name="emailclinte" id="emailclinte" placeholder="digite seu email" required>
            <label for="senhavendedor">senha</label>
            <input type="password" name="senhaclinte" id="senhaclinte" placeholder="digite sua senha" required>
            <input type="submit" value="entra">
            <div class="esqueceu senha">
                esqueceu sua senha <a href="#"> clque aqui</a>

            </div>
        </form>

    </header>
    
    
        <p>&copy;2024</p>

    
    
</body>
</html>